.slide {
    position: relative;
}

.caseStudy__image {
    width: 400px;
    height: 400px;
    position: absolute;
    top: 0;
}

.caseStudy__cardContainer{
    width: 399px;
    height: 399px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 10px;
}